<a href="https://colab.research.google.com/github/NaveenMR-18/NLP-ASSIGNMENT-/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("sample.csv")
df.head()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,119237,105834,True,Wed Oct 11 06:55:44 +0000 2017,@AppleSupport causing the reply to be disregar...,119236,NaN
1,119238,ChaseSupport,False,Wed Oct 11 13:25:49 +0000 2017,@105835 Your business means a lot to us. Pleas...,NaN,119239.0
2,119239,105835,True,Wed Oct 11 13:00:09 +0000 2017,@76328 I really hope you all change but I'm su...,119238,NaN
3,119240,VirginTrains,False,Tue Oct 10 15:16:08 +0000 2017,@105836 LiveChat is online at the moment - htt...,119241,119242.0
4,119241,105836,True,Tue Oct 10 15:17:21 +0000 2017,@VirginTrains see attached error message. I've...,119243,119240.0

In [ ]:
df["text"] = df["text"].str.lower()
df.head()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,119237,105834,True,Wed Oct 11 06:55:44 +0000 2017,@applesupport causing the reply to be disregar...,119236,NaN
1,119238,ChaseSupport,False,Wed Oct 11 13:25:49 +0000 2017,@105835 your business means a lot to us. pleas...,NaN,119239.0
2,119239,105835,True,Wed Oct 11 13:00:09 +0000 2017,@76328 i really hope you all change but i'm su...,119238,NaN
3,119240,VirginTrains,False,Tue Oct 10 15:16:08 +0000 2017,@105836 livechat is online at the moment - htt...,119241,119242.0
4,119241,105836,True,Tue Oct 10 15:17:21 +0000 2017,@virgintrains see attached error message. i've...,119243,119240.0

In [ ]:
import string

In [ ]:
def remove_punctuation(text):
    return text.translate(str.maketrans('', '', string.punctuation))

df["text"] = df["text"].apply(remove_punctuation)
df.head()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,119237,105834,True,Wed Oct 11 06:55:44 +0000 2017,applesupport causing the reply to be disregard...,119236,NaN
1,119238,ChaseSupport,False,Wed Oct 11 13:25:49 +0000 2017,105835 your business means a lot to us please ...,NaN,119239.0
2,119239,105835,True,Wed Oct 11 13:00:09 +0000 2017,76328 i really hope you all change but im sure...,119238,NaN
3,119240,VirginTrains,False,Tue Oct 10 15:16:08 +0000 2017,105836 livechat is online at the moment https...,119241,119242.0
4,119241,105836,True,Tue Oct 10 15:17:21 +0000 2017,virgintrains see attached error message ive tr...,119243,119240.0

In [ ]:
!pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.12/dist-packages (3.9.1)
Requirement already satisfied: click in /usr/local/lib/python3.12/dist-packages (from nltk) (8.3.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.12/dist-packages (from nltk) (1.5.3)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.12/dist-packages (from nltk) (2025.11.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.12/dist-packages (from nltk) (4.67.3)

In [ ]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt_tab.zip.

True

In [ ]:
stop_words = set(stopwords.words('english'))

def remove_stopwords(text):
    words = word_tokenize(str(text))
    filtered_words = [word for word in words if word.lower() not in stop_words]
    return " ".join(filtered_words)

df["text"] = df["text"].apply(remove_stopwords)

df.head()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,119237,105834,True,Wed Oct 11 06:55:44 +0000 2017,applesupport causing reply disregarded tapped ...,119236,NaN
1,119238,ChaseSupport,False,Wed Oct 11 13:25:49 +0000 2017,105835 business means lot us please dm name zi...,NaN,119239.0
2,119239,105835,True,Wed Oct 11 13:00:09 +0000 2017,76328 really hope change im sure wont dont,119238,NaN
3,119240,VirginTrains,False,Tue Oct 10 15:16:08 +0000 2017,105836 livechat online moment httpstcosy94vtu8...,119241,119242.0
4,119241,105836,True,Tue Oct 10 15:17:21 +0000 2017,virgintrains see attached error message ive tr...,119243,119240.0

In [ ]:
from nltk.stem import PorterStemmer
ps = PorterStemmer()

In [ ]:
def stemming(text):
    words = text.split()
    stemmed_words = [ps.stem(word) for word in words]
    return " ".join(stemmed_words)

df["text"] = df["text"].apply(stemming)

df.head()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,119237,105834,True,Wed Oct 11 06:55:44 +0000 2017,applesupport caus repli disregard tap notif ke...,119236,NaN
1,119238,ChaseSupport,False,Wed Oct 11 13:25:49 +0000 2017,105835 busi mean lot us pleas dm name zip code...,NaN,119239.0
2,119239,105835,True,Wed Oct 11 13:00:09 +0000 2017,76328 realli hope chang im sure wont dont,119238,NaN
3,119240,VirginTrains,False,Tue Oct 10 15:16:08 +0000 2017,105836 livechat onlin moment httpstcosy94vtu8k...,119241,119242.0
4,119241,105836,True,Tue Oct 10 15:17:21 +0000 2017,virgintrain see attach error messag ive tri le...,119243,119240.0

In [ ]:
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('omw-1.4')
lemmatizer = WordNetLemmatizer()

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [ ]:
def lemmatize_text(text):
    words = word_tokenize(text)
    lemmatized_words = [lemmatizer.lemmatize(word) for word in words]
    return " ".join(lemmatized_words)

df["text"] = df["text"].apply(lemmatize_text)
df.head()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,119237,105834,True,Wed Oct 11 06:55:44 +0000 2017,applesupport caus repli disregard tap notif ke...,119236,NaN
1,119238,ChaseSupport,False,Wed Oct 11 13:25:49 +0000 2017,105835 busi mean lot u plea dm name zip code a...,NaN,119239.0
2,119239,105835,True,Wed Oct 11 13:00:09 +0000 2017,76328 realli hope chang im sure wont dont,119238,NaN
3,119240,VirginTrains,False,Tue Oct 10 15:16:08 +0000 2017,105836 livechat onlin moment httpstcosy94vtu8k...,119241,119242.0
4,119241,105836,True,Tue Oct 10 15:17:21 +0000 2017,virgintrain see attach error messag ive tri le...,119243,119240.0

In [ ]:
import re

In [ ]:
def remove_urls(text):
    return re.sub(r'http\S+|www\S+', '', text)

df["text"] = df["text"].apply(remove_urls)

df.head()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,119237,105834,True,Wed Oct 11 06:55:44 +0000 2017,applesupport caus repli disregard tap notif ke...,119236,NaN
1,119238,ChaseSupport,False,Wed Oct 11 13:25:49 +0000 2017,105835 busi mean lot u plea dm name zip code a...,NaN,119239.0
2,119239,105835,True,Wed Oct 11 13:00:09 +0000 2017,76328 realli hope chang im sure wont dont,119238,NaN
3,119240,VirginTrains,False,Tue Oct 10 15:16:08 +0000 2017,105836 livechat onlin moment contact 03331 03...,119241,119242.0
4,119241,105836,True,Tue Oct 10 15:17:21 +0000 2017,virgintrain see attach error messag ive tri le...,119243,119240.0

In [ ]:
def remove_html_tags(text):
    clean_text = re.sub(r'<.*?>', '', text)
    return clean_text
df["text"] = df["text"].apply(remove_html_tags)
df.head()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,119237,105834,True,Wed Oct 11 06:55:44 +0000 2017,applesupport caus repli disregard tap notif ke...,119236,NaN
1,119238,ChaseSupport,False,Wed Oct 11 13:25:49 +0000 2017,105835 busi mean lot u plea dm name zip code a...,NaN,119239.0
2,119239,105835,True,Wed Oct 11 13:00:09 +0000 2017,76328 realli hope chang im sure wont dont,119238,NaN
3,119240,VirginTrains,False,Tue Oct 10 15:16:08 +0000 2017,105836 livechat onlin moment contact 03331 03...,119241,119242.0
4,119241,105836,True,Tue Oct 10 15:17:21 +0000 2017,virgintrain see attach error messag ive tri le...,119243,119240.0

In [ ]:
!pip install emoji

import pandas as pd
import emoji

Collecting emoji
  Downloading emoji-2.15.0-py3-none-any.whl.metadata (5.7 kB)
Downloading emoji-2.15.0-py3-none-any.whl (608 kB)
    608.4/608.4 kB 15.1 MB/s eta 0:00:00
Installing collected packages: emoji
Successfully installed emoji-2.15.0

In [ ]:
def convert_emojis(text):
    return emoji.demojize(text)
df["text"] = df["text"].apply(convert_emojis)

df.head()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,119237,105834,True,Wed Oct 11 06:55:44 +0000 2017,applesupport caus repli disregard tap notif ke...,119236,NaN
1,119238,ChaseSupport,False,Wed Oct 11 13:25:49 +0000 2017,105835 busi mean lot u plea dm name zip code a...,NaN,119239.0
2,119239,105835,True,Wed Oct 11 13:00:09 +0000 2017,76328 realli hope chang im sure wont dont,119238,NaN
3,119240,VirginTrains,False,Tue Oct 10 15:16:08 +0000 2017,105836 livechat onlin moment contact 03331 03...,119241,119242.0
4,119241,105836,True,Tue Oct 10 15:17:21 +0000 2017,virgintrain see attach error messag ive tri le...,119243,119240.0